@font-face {
  font-family: "poppins";
  src: url(./fonts/Poppins-Regular.ttf) format(ttf);
}

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

body {
  font-family: "poppins";
}